<div>
  <h1>Create Maintenance</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <p-iftalabel>
      <p-input-number
        inputId="minmaxfraction"
        mode="decimal"
        [maxFractionDigits]="2"
        formControlName="cost"
      />
      <label for="cost">Cost</label>
    </p-iftalabel>
    <p-iftalabel>
      <p-datepicker
        inputId="date"
        inputId="calendar-12h"
        formControlName="date"
        [showTime]="true"
        hourFormat="12"
        required
      />
      <label for="date">Date</label>
    </p-iftalabel>
    <p-iftalabel>
      <p-input-number inputId="integeronly" formControlName="mileage" />
      <label for="mileage">Mileage</label>
    </p-iftalabel>
    <h2>Item Details</h2>
    <div formArrayName="itemDetails" class="item-details">
      @for (detail of itemDetails.controls; let i = $index; track $index) {
        <div [formGroupName]="i" class="item-detail">
          <p-iftalabel>
            <p-select
              class="type-select"
              optionLabel="name"
              optionValue="id"
              formControlName="maintenanceType"
              [options]="mapTypes()"
            />
            <label>Maintenance Type</label>
          </p-iftalabel>
          <p-iftalabel>
            <p-input-number inputId="quantity" formControlName="quantity" />
            <label>Quantity</label>
          </p-iftalabel>
          <p-iftalabel>
            <input pInputText formControlName="comments" />
            <label>Comments</label>
          </p-iftalabel>
          <p-button severity="danger" (onClick)="removeItemDetailForm(i)">Remove</p-button>
        </div>
      }
    </div>
    <p-button (onClick)="addItemDetailForm()" label="Add Item Detail"></p-button>
    <br />
    <p-button type="submit">Submit</p-button>
    @if (postMaintenanceError()) {
      <p>{{ postMaintenanceError() }}</p>
    }
  </form>
</div>
