.row {
  display: flex;
  flex-direction: row;
}
.maintenance-list {
  justify-self: center;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  max-width: 90%;
  overflow: auto;
}

.maintenance-card {
  display: block;
  padding: 0.1rem 0.8rem;
  padding-bottom: 2rem;
  margin: 1rem;
  border: 1px solid var(--p-primary-500);
  p:hover {
    background: var(--p-primary-950);
  }
  p {
    margin: 0 0;
    padding: 0.5rem 0.2rem;
  }
}

.item-detail-list {
  p {
    margin-left: 1.5rem;
  }
}

p {
  font-size: large;
}
