.maintenance-list {
  display: flex;
  flex-direction: column;
  border: 0.2rem solid var(--p-blue-500);
  border-radius: 8px;
  max-width: 90%;
  overflow: auto;
}

.maintenance-card {
  display: block;
  padding: 0.1rem 0.8rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--p-blue-500);
  p:hover {
    background: var(--p-blue-950);
  }
  p {
    margin: 0 0;
    padding: 0.5rem 0.2rem;
  }
}

.item-detail-list {
    p {
        margin-left: 1.5rem;
    }
}

p {
  font-size: large;
}
