<!-- Edit car form -->
<form (ngSubmit)="onEditCar()" class="edit-car-form">
  <div class="inputs">
    <p-iftalabel>
      <input pInputText type="number" [field]="editForm.year!" />
      <label for="year">Year</label>
    </p-iftalabel>

    <p-iftalabel>
      <input pInputText type="text" [field]="editForm.make!" />
      <label for="make">Make</label>
    </p-iftalabel>

    <p-iftalabel>
      <input pInputText type="text" [field]="editForm.model!" />
      <label for="model">Model</label>
    </p-iftalabel>

    <p-iftalabel>
      <input pInputText type="text" [field]="editForm.color!" />
      <label for="color">Color</label>
    </p-iftalabel>

    <p-iftalabel>
      <p-input-number pInputNumber type="number" [field]="editForm.mileage!" />
      <label for="mileage">Mileage</label>
    </p-iftalabel>
  </div>

  <p-iftalabel>
    <p-select
      name="gasType"
      optionLabel="name"
      optionValue="value"
      [options]="gasTypeOptions()"
      [field]="editForm.gasTypeId!"
    />
    <label for="gasType">Gas Type</label>
  </p-iftalabel>

  <!-- Use onSelect for client-side handling (no server upload). If you want to actually upload
to a server set `url` or use `customUpload="true"` and handle `uploadHandler`. -->
  <p-fileUpload
    #carUpload
    name="carpic"
    showUploadButton="false"
    showCancelButton="false"
    chooseIcon="pi pi-upload"
    accept="image/*"
    (onSelect)="onSelect($event)"
    (onCancel)="cancelUpload()"
    chooseLabel="Upload Car Image"
  />

  <p-button label="Edit Car" type="submit" (onClick)="carUpload.upload()" />
</form>
