<div class="gas-price-detail-container">
  @if (isEditing()) {
  <div class="edit-mode">
    <p-inputNumber
      [(ngModel)]="newPrice"
      mode="currency"
      currency="USD"
      locale="en-US"
      [minFractionDigits]="2"
      [maxFractionDigits]="3"
      [style]="{ width: '100px' }"
    />
    <div class="actions">
      <p-button
        icon="pi pi-check"
        severity="success"
        size="small"
        [text]="true"
        [rounded]="true"
        (onClick)="onSave()"
      />
      <p-button
        icon="pi pi-times"
        severity="danger"
        size="small"
        [text]="true"
        [rounded]="true"
        (onClick)="onCancel()"
      />
    </div>
  </div>
  } @else {
  <div class="view-mode">
    <span>{{ price().price | currency : 'USD' }}</span>
    <p-button
      icon="pi pi-pencil"
      [text]="true"
      [rounded]="true"
      size="small"
      severity="secondary"
      (onClick)="onEdit()"
    />
  </div>
  }
</div>
