form {
  display: flex;
  flex-direction: column;
  border: 0.2em solid var(--p-primary-500);
  background-color: var(--p-primary-950);
  padding: 5em 2em;
  border-radius: 1em;
  gap: 1em;

  align-items: center;
  justify-content: space-evenly;

  justify-self: center;
  width: 70%;

  > * {
    flex: 1;
  }
}

p {
  font-size: 2em;
  margin: 0 0 0.5em 0;
  color: var(--p-red-600);
}

input {
  font-size: 2em;
  max-width: 100%;
}

label {
  font-size: 2em;
}
