.p-panel {
  transition: all 0.2s ease-in-out;
  margin: 1.5em 0.6rem;
  cursor: pointer;

  transition: height 0.3s ease-in-out;

  &:hover {
    background-color: var(--p-surface-hover);
  }

  p {
    font-size: 1.2rem;
  }

  strong {
    font-weight: bolder;
  }
}

.p-panel-title {
  font-weight: 900;
  font-size: 1.8em;
}

.car-card {
  display: flex;
  // align-items: center;
  gap: 1rem;

  .p-avatar {
    --avatar-size: 4em;

    border-radius: 8px;
    width: var(--avatar-size);
    height: var(--avatar-size);
    overflow: hidden; // To clip the image within the avatar
  }
}

#add-car-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;


  .p-avatar {
    background-color: transparent;
  }

}

.p-drawer-bottom {
  height: fit-content !important;
  width: 100vw;
  overflow: hidden;
}

