<div class="cars">
  <h1>Cars</h1>
  @for (car of cars(); track car.vin) {
  <p-panel header="{{ car.year }} {{ car.make }} {{ car.model }}" (click)="onSelectCar(car)">
    <div class="car-card styled-box-">
      @if (car.image) {
      <p-image [src]="car.image" alt="{{ car.make }} {{ car.model }}" width="150" />
      } @else {
      <p-avatar icon="pi pi-car" size="xlarge"></p-avatar>
      }

      <app-car-list-detail
        [selectedCar]="selectedCar()"
        [car]="car"
        (edit)="editFormOpen.set(true)"
      />
    </div>
  </p-panel>
  } @empty {
  <h3>No cars in inventory</h3>
  }

  <p-panel id="add-car-panel" (click)="formOpen.set(true)">
    <p-avatar icon="pi pi-plus" size="xlarge" class="add-car-avatar"></p-avatar>
  </p-panel>

  <p-drawer [(visible)]="formOpen" position="bottom" header="Add New Car">
    <app-car-add-form (closeNewForm)="formOpen.set(false)" />
  </p-drawer>

  <p-drawer
    id="edit-car-drawer"
    [(visible)]="editFormOpen"
    position="bottom"
    header="Edit {{ selectedCar()?.year }} {{ selectedCar()?.make }} {{ selectedCar()?.model }}"
  >
    @if (editFormOpen()) { @if (selectedCar()?.image) {
    <p-image
      [src]="selectedCar()!.image || ''"
      alt="{{ selectedCar()?.make }} {{ selectedCar()?.model }}"
      width="150"
    ></p-image>

    }
    <app-car-edit-form [selectedCar]="selectedCar()" (closeForm)="editFormOpen.set(false)" />
    }
  </p-drawer>
</div>
